<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lonepulse.travisjr"
    android:versionCode="1"
    android:versionName="0.1.1" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- to read GitHub credentials -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- to access the Travis-CI endpoint -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- to register for data state updates -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- to query data connection information -->

    <application
        android:name=".app.TravisJr$Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TravisJrTheme" >
        <activity
            android:name=".AuthenticationActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReposActivity" />
        <activity android:name=".BuildsActivity" />
        <activity android:name=".pref.SettingsActivity" />
        <activity
            android:name=".dialog.LicensesActivity"
            android:label="@string/ttl_pref_oss_licenses"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity 
            android:name=".dialog.BuildInfoActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
    </application>

</manifest>